.checkout_bgpage{
	width: 1024px;
	height: 600px;
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	background-color: rgba(62, 62, 62, 0.35);
}

.bitmap {
	width: 1024px;
	height: 600px;
}
.checkout_page{
	
	width: 680px;
	height: 550px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27);
}
.checkout {
	width: 85px;
	height: 22px;
	font-size: 18px;
	font-face: .AppleSystemUIFont;
	line-height: 18px;
	color: #5e5f5f;
}
.shipping-payment {
	
	height: 24px;
	opacity: 0.7;
	font-size: 13px;
	font-face: .AppleSystemUIFont;
	line-height: 12px;
	color: #9c9c9c;
}
.close {
	width: 16.7px;
	height: 16.7px;
	background-color: #777879;
}
.img {
	width: 73px;
	height: 48px;
	border-radius: 2px;
	background-color: #525252;
	border: solid 0px #4b4b4b;
}
/*.side {
	padding-right: 0px;
	width: 300px;
	height: 550px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27);
}*/

.sidebar {
	padding-top: 0px;

	padding-left: 381px;
}
.title_of_img {
	width: 160px;
	font-size: 12px;
	font-face: .AppleSystemUIFont;
	line-height: 13px;
	color: #777879;
}
.font_color {

	
	font-size: 10px;
	font-face: .AppleSystemUIFont;
	color: #9c9c9c;
}
.dollar{
	width: 38px;
	height: 13px;
	font-size: 12px;
	font-face: .AppleSystemUIFont;
	line-height: 11px;
	color: #777879;
}
/*.line {
	width: 284px;
	height: 3px;
	opacity: 0.2;
	border: solid 1px #979797;
}*/
.textbox {
	width: 80px;
	height: 30px;
	border-radius: 1px;
	background-color: #ffffff;
	border: solid 1px #dedede;
}
