




body {
	background:linear-gradient (to bottom right, white,#bcbdc4);
	height: 3000px;
}
/*.headerx{
	position: fixed;
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
	color: white;
	z-index: 7;
	font-family: verdana;
	
}*/
.header{
	position: fixed;
	width: 1000%;
	height: 100px;
	background: #142170;
	top: 0;
	left: 0;
	color: white;
	z-index: 7;
	font-family: verdana;

}
#img1{
	left: 75px;
	height: 50px;
	width: 110px;
	top: 20px;

}
#form1{
	left: 1000px;
	height: 60px;
	width: 180px;
	top: 20px;

}
#form2{ 
	left: 1200px;
	height: 60px;
	width: 200px;
	top: 20px;

}
.submit1{
	left: 1400px;
	top: 39px ;
	background: white;
	color: #142170;
	position: fixed;
	height: 22px;
	width: 50px ;
	z-index: 20;
	cursor: pointer; 

}
.bodyx{
	left: 0;
	top: 100px;
	position: absolute;
	width: 100%;
	height: 645px;
	

}
#intro1{
	left: 40px;
	top: 140px ;
	font-family: verdana;
	font-size: 30px;
	color: #142170;
	position: fixed;
	height: 75px;
	width: 550px ;
	
}
#intro2{
	left: 1000px;
	top: 140px ;
	font-family: verdana;
	font-size: 50px;
	color: #142170;
	position: fixed;
	height: 60px;
	width: 500px ;
	
}
#img2{
	left: 100px;
	height: 200px;
	width: 550px;
	top: 140px;

}
#intro3{
	left: 1010px;
	top: 200px ;
	font-family: verdana;
	font-size: 20px;
	color: #142170;
	position: fixed;
	height: 60px;
	width: 500px ;
	
}
#form3{
	left: 1000px;
	top: 180px ;
	font-family: verdana;
	font-size: 20px;
	height: 495px;
	width: 500px ;
	
}
#namebox{
	
	height: 50px;
	width: 200px ;
	border-radius: 10px/10px;
	background: white;
	padding: 1px;
	font-size: 20px;

}
#mailbox{
	
	height: 50px;
	width: 400px ;
	border-radius: 10px/10px;
	background: white;
	padding: 0px;
	font-size: 20px;
	
}
.button1{
	left: 1000px;
	top: 69b0px ;
	font-family: verdana;
	background: green;
	font-size: 20px;
	color: white;
	position: absolute;
	height: 50px;
	width: 150px ;
	border-radius: 10px/10px;
	cursor: pointer;
	outline: none;
}
.body1{
	position: absolute;
	top: 770px;
	left: 0;
	height: 80px;
	width: 100%;
	background: white;



}
#conclu{
	top: 15px;
	left: 100px;
	height: 40px;
	width: 930px;
	background: white;
}

