





body {
	background:linear-gradient (to bottom right, white,#bcbdc4);
	height: 3000px;
}
.header{
	position: fixed;
	width: 100%;
	height: 60px;
	background: #00bfff;
	top: 0;
	left: 0;
	color: white;
	z-index: 7;
	font-family: verdana;

}
.headerx{
	position: fixed;
	width: 100%;
	height: 40px;
	top: 60px;
	left: 0;
	
	background: #DCDCDC;
	z-index: 7;
	font-family: verdana;
	
}
/*.headery{
	position: fixed;
	width: 100%;
	height: 10px;
	top: 100px;
	left: 0;
	color:blue;
	background: grey;
	z-index: 7;
	font-family: verdana;

}*/


#img1{
	left: 500px;
	height: 30px;
	width: 10px;
	top: 20px;

}
	#search{
		left: 650px;
		width: 450px;
	  height: 50px;
	  padding-top: 30px;

	  border: none;
	  font-size: 10pt;
	  float: left;
	 
	  padding-left: 45px;
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  border-radius: 5px;


	}
element.style {
    height: 20px;
    width: 270px;
    font-size: 16px;
}

.text1{
	position: fixed;
	top: 50px;
	left: 690px;
	font-style: 
	font-size: 20px;
	font-family: verdana;

}
/*main menu */
 ul {list-style: none;padding: 1px;margin: 0px;padding-top: 10px; padding-left: 500px;}
/* main menu drop down 
*/  ul li {display: block ;position: relative;float:left;border:1px }
 li ul {display: none;}

 ul li a {display: block;padding: 5px 10px 5px 10px;text-decoration:none; font-weight: bold;
           white-space: nowrap;color: #fff;}
  ul li a:hover {background: blue;}

  li:hover ul {display: block; position: absolute;padding-left:18px; padding-top: 0px;}
  li:hover li {float: none;}
  li:hover a {background: #f00;}


 
  li:hover li a:hover {background: #000;}
  #drop-nav li ul li {border-top: 0px;}


#sideimg{
top: 100px;
right: 50px;
left: 900px;

}
.top{
	top: 450px;
}

